#navList {
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style: none;
    font-size: 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

nav {
    text-decoration: none;
    /* color: rgb(250, 250, 250); */
    padding: 10px;
    transition: 0.5s;
    width: 100%;
    overflow: none;
}

.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(69, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    /* background-color: #7e7b7b; */
    /* color: rgb(236, 233, 233); */
    min-height: 80px;
    width: 100%;
    position: relative;
}

.container {
    height: 100vh;
    height: 100vh;
    overflow-x: none;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navlogo {
    font-size: 2.8rem;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    /*remove underline */
    color: white;

}

#navItems {
    display: flex;
    gap: 20px;

}
.footerBox{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    color: white;
}